In [1]:
import pandas as pd

In [4]:
sim = pd.read_csv("blind_allin_sim_2players.csv")
sim = sim.assign(win_rate = sim['won']/sim['played'])
sim.sort_values(by='win_rate', ascending=False).head(20)

    hand  won  played  win_rate
18   82s    5       5  1.000000
8     TT    8       8  1.000000
29   83s    1       1  1.000000
11    KK   10      10  1.000000
44   K4s    3       3  1.000000
68   K7s    5       5  1.000000
54   A5s    7       8  0.875000
9     JJ   14      16  0.875000
12    AA    6       7  0.857143
81   JTs    6       7  0.857143
2     44    5       6  0.833333
66   J7s    5       6  0.833333
3     55    9      11  0.818182
23   K2s    8      10  0.800000
63   87s    4       5  0.800000
77   J9s    4       5  0.800000
31   T3s    7       9  0.777778
139  K6o   14      18  0.777778
5     77   10      13  0.769231
164  KJo   13      17  0.764706

In [5]:
sim.sort_values(by='win_rate', ascending=True).head(20)

    hand  won  played  win_rate
21   J2s    0       2  0.000000
15   52s    0       6  0.000000
13   32s    0       4  0.000000
40   94s    1       8  0.125000
52   Q5s    1       8  0.125000
39   84s    1       7  0.142857
51   J5s    1       6  0.166667
48   85s    1       6  0.166667
42   J4s    1       5  0.200000
19   92s    2      10  0.200000
100  Q2o    3      14  0.214286
17   72s    2       8  0.250000
58   T6s    2       8  0.250000
14   42s    2       8  0.250000
50   T5s    2       8  0.250000
47   75s    2       8  0.250000
27   63s    1       4  0.250000
79   K9s    2       7  0.285714
117  84o    6      21  0.285714
115  64o    4      14  0.285714

In [19]:
sim[sim['win_rate'] >= 0.5].sort_values(by='win_rate' ,ascending=True)

    hand   won  played  win_rate
166  KQo  2230    4421  0.504411
75   A8s   770    1514  0.508587
82   QTs   779    1517  0.513514
79   K9s   777    1502  0.517310
80   A9s   759    1464  0.518443
165  AJo  2317    4467  0.518693
4     66  1175    2250  0.522222
83   KTs   784    1498  0.523364
54   A5s   792    1511  0.524156
162  ATo  2366    4512  0.524379
167  AQo  2387    4487  0.531981
88   KQs   823    1526  0.539318
84   ATs   829    1527  0.542895
86   KJs   808    1488  0.543011
5     77  1233    2258  0.546058
89   AQs   834    1523  0.547603
6     88  1338    2403  0.556804
168  AKo  2468    4418  0.558624
7     99  1301    2279  0.570864
87   AJs   885    1514  0.584544
90   AKs   920    1571  0.585614
8     TT  1342    2169  0.618718
9     JJ  1487    2296  0.647648
10    QQ  1614    2397  0.673342
11    KK  1656    2246  0.737311
12    AA  1693    2168  0.780904

In [15]:
sim = pd.read_csv("simulation_3.csv")
sim = sim.assign(win_rate = sim['won']/sim['played'])
sim.sort_values(by='win_rate', ascending=False).head(20)

    hand   won  played  win_rate
12    AA  1693    2168  0.780904
11    KK  1656    2246  0.737311
10    QQ  1614    2397  0.673342
9     JJ  1487    2296  0.647648
8     TT  1342    2169  0.618718
90   AKs   920    1571  0.585614
87   AJs   885    1514  0.584544
7     99  1301    2279  0.570864
168  AKo  2468    4418  0.558624
6     88  1338    2403  0.556804
89   AQs   834    1523  0.547603
5     77  1233    2258  0.546058
86   KJs   808    1488  0.543011
84   ATs   829    1527  0.542895
88   KQs   823    1526  0.539318
167  AQo  2387    4487  0.531981
162  ATo  2366    4512  0.524379
54   A5s   792    1511  0.524156
83   KTs   784    1498  0.523364
4     66  1175    2250  0.522222